body {
  background-image: url("../images/mike.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer{
  background-color: transparent;
}

.centered {
  position: absolute;
  bottom: 8px;
  left: 16px;
  /* font-size: 40pt; */
  color: white;
  margin-left: 20px;
}

.logo {
  /* position:absolute; */
    /* top:0; */
  max-width: 100%;
  vertical-align: middle;
  max-height: 360px;
  display: block;
  margin: auto;
}

.container {
  /* text-align: center;
  vertical-align: middle; */
  /* margin: 1em 0; */
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.frame {
    height: 320px;      /* equals max image height */
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    /* white-space: nowrap; */

    text-align: center;
}

@media only screen and (max-width: 1024px) {
  .frame {
      height: 125px;      /* equals max image height */
      width: 100%;
      margin: auto;
      /* border: 1px solid red; */
      /* white-space: nowrap; */
      text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .frame {
      height: 260px;      /* equals max image height */
      width: 100%;
      margin: auto;
      /* border: 1px solid red; */
      /* white-space: nowrap; */
      text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  body {
    background-image: url("../images/cover1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .frame {
      height: 185px;      /* equals max image height */
      width: 100%;
      margin: auto;
      /* border: 1px solid red; */
      /* white-space: nowrap; */
      text-align: center;
  }
}
