body {
  padding-top: 50px;
  padding-bottom: 0px;
  
}


footer{
 background-color: #f74c3c;
 padding-top: 100px;
 padding-bottom: 0px;
}

footer p {
	margin-bottom: 0px;
	text-align: center;
}


hr {
	width: 600px
}

@media (max-width: 767px) {
	hr {
		width: 160px
	}
}